<form class="d-flex flex-column flex-wrap" id="vehicleAndLicenceUpdateForms">
    {% csrf_token %}
    {% include 'vehicles/partials/form.html' %}
    <div class="d-flex flex-row flex-wrap my-3">
        <button type="submit" class="btn btn-warning mx-3 my-1">
            Скасувати зміни
        </button>
        <button
                type="button"
                class="btn btn-success mx-3 my-1"
                hx-post="{% url 'submit_vehicle_and_licence_update_form' vehicle.id %}"
                hx-target="#vehicleAndLicenceUpdateForms"
                hx-swap="outerHTML"
                hx-trigger="click"
        >
            Застосувати зміни
        </button>
        <button
                type="button"
                class="btn btn-danger mx-3 my-1"
                hx-post="{% url 'delete_vehicle_and_licence' vehicle.id %}"
                hx-trigger="click"
        >
            Видалити ТЗ
        </button>
    </div>
</form>