<div id="bankSearchList">
    {% for bank in banks %}
        <button type="button"
                class="btn btn-outline-secondary btn-sm form-control mb-2"
                hx-target="#bankSearchForm"
                hx-swap="outerHTML"
                hx-post="{% url 'banks:add_to_business_entity' business_entity_id=business_entity.id bank_id=bank.id %}"
        >
            {{ bank.name }}, {{ bank.mfo }}
        </button>
    {% endfor %}
    {% if is_paginated %}
        <div class="btn-group d-flex flex-fill" role="group" aria-label="Pagination">
            {% if page_obj.has_previous %}
                <button
                        type="button"
                        class="btn btn-outline-secondary flex-fill btn-sm form-control mb-2"
                        name="page"
                        value="{{ page_obj.previous_page_number }}"
                        hx-get="{% url 'banks:search' business_entity.id %}"
                        hx-target="#bankSearchList"
                        hx-include="[name='searchBanks']"
                        hx-swap="outerHTML">&laquo;
                </button>
            {% else %}
                <button
                        type="button"
                        class="btn btn-outline-secondary flex-fill btn-sm form-control mb-2 disabled">&laquo;
                </button>
            {% endif %}
            {% if page_obj.has_next %}
                <button 
                        type="button"
                        class="btn btn-outline-secondary flex-fill btn-sm form-control mb-2"
                        name="page"
                        value="{{ page_obj.next_page_number }}"
                        hx-get="{% url 'banks:search' business_entity.id %}"
                        hx-target="#bankSearchList"
                        hx-include="[name='searchBanks']"
                        hx-swap="outerHTML">&raquo;
                </button>
            {% else %}
                <button
                        type="button"
                        class="btn btn-outline-secondary flex-fill btn-sm form-control mb-2 disabled">&laquo;
                </button>
            {% endif %}
        </div>
    {% endif %}
</div>