<form class="d-flex flex-column align-items-center" method="POST" id="createForm">
    {% if action == 'create_fop' %}
        <div>
            <input type="radio" class="btn-check" name="options-base" id="fop" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="fop">ФОП</label>

            <input
                    type="radio"
                    class="btn-check"
                    name="options-base"
                    id="tov"
                    autocomplete="off"
                    hx-get="{% url 'business_entities:create_tov_form' %}"
                    hx-target="#createForm"
                    hx-trigger="click"
                    hx-swap="outerHTML"
            >
            <label class="btn btn-outline-primary" for="tov">ТОВ</label>
        </div>
        <div id="BusinessEntitiesForm" class="mb-3" style="width: 350px;">
            {% include 'business_entities/partials/form.html' %}
        </div>
        <div class="d-flex justify-content-center flex-fill">
            <button
                    type="button"
                    class="btn btn-outline-success fw-bold"
                    hx-post="{% url 'business_entities:create_fop_form' %}"
                    hx-trigger="click"
                    hx-target="#createForm"
                    hx-swap="outerHTML"
            >Створити ФОП
            </button>
        </div>
    {% else %}
        <div>
            <input
                    type="radio"
                    class="btn-check"
                    name="options-base"
                    id="fop"
                    autocomplete="off"
                    hx-get="{% url 'business_entities:create_fop_form' %}"
                    hx-target="#createForm"
                    hx-trigger="click"
                    hx-swap="outerHTML"
            >
            <label class="btn btn-outline-primary" for="fop">ФОП</label>

            <input type="radio" class="btn-check btn-info" name="options-base" id="tov" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="tov">ТОВ</label>
        </div>
        <div id="BusinessEntitiesForm" class="mb-3" style="width: 350px;">
            {% include 'business_entities/partials/form.html' %}
        </div>
        <div class="d-flex justify-content-center flex-fill">
            <button
                    type="button"
                    class="btn btn-outline-success fw-bold"
                    hx-post="{% url 'business_entities:create_tov_form' %}"
                    hx-target="#createForm"
                    hx-trigger="click"
                    hx-swap="outerHTML"
            >Створити ТОВ
            </button>
        </div>
    {% endif %}
</form>