{% extends 'templates/base_simple.html' %}
{% load static %}

{% block base %}
    <div class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-md navbar fixed-top bg-body">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="{% url 'home_page' %}">
                    <span class="mb-2 me-1">{% include "tools/icons/document.html" %}</span>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'business_entities:list' %}">Суб'єкти
                                господарювання</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vehicles:list' %}">Транспортні засоби</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'templates:list' %}">Документи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'documents:pdf-extract' %}">Добування тексту</a>
                        </li>
                    </ul>
                    <div class="d-flex flex-row">
                        <a href="{% url 'users:profile' %}" type="button" class="btn btn-outline-info me-2">
                            <span id="userIcon">{% include 'tools/icons/user.html' %}</span>
                        </a>
                        <button type="button" id="toggleColorModeButton" class="btn btn-outline-warning ms-4 me-2">
                            <span id="sunIcon">{% include 'tools/icons/sun.html' %}</span>
                            <span id="moonIcon" style="display: none;">{% include 'tools/icons/moon.html' %}</span>
                        </button>
                    </div>

                </div>
            </div>
        </nav>
        <main class="container flex-fill" style="padding-top: 4.5rem;">
            {% block body %}

            {% endblock %}
        </main>
        <footer class="py-3 my-4 footer">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
            <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
        </footer>
    </div>
    <script src="{% static 'js/colormode.js' %}"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', function (event) {
            const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
            event.detail.headers['X-CSRFToken'] = csrfToken;
        });
    </script>
    {% block static %}

    {% endblock %}

{% endblock %}