{% extends 'templates/base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <div class="d-flex flex-row flex-wrap">
        <div class="d-flex flex-column m-2 flex-fill" style="min-width: 300px;">
            <a href="{% url 'business_entities:create_fop' %}" class="btn btn-success flex-fill m-2">Додати суб'єкт господарювання</a>
            <a href="{% url 'business_entities:list' %}" class="btn btn-success flex-fill m-2">Список суб'єктів господарювання</a>
        </div>
        <div class="d-flex flex-column m-2 flex-fill" style="min-width: 300px;">
            <a href="{% url 'vehicles:create' %}" class="btn btn-success flex-fill m-2">Додати транспортний засіб</a>
            <a href="{% url 'vehicles:list' %}" class="btn btn-success flex-fill m-2">Список транспортних засобів</a>
        </div>
    </div>
{% endblock %}

{% block static %}

{% endblock %}