{% extends 'templates/base.html' %}

{% block title %}
    <title>Contract Templates</title>
{% endblock %}

{% block body %}
    <div class="d-flex flex-column flex-wrap justify-content-center">
        <div class="d-flex flex-row flex-wrap justify-content-start">
            <div class="d-flex flex-column flex-wrap">
                <div
                        class="m-2 d-flex flex-column"
                        style="width: 350px;"
                >
                    <button
                            class="btn btn-success fw-bold d-flexjustify-content-center align-items-center my-1"
                            hx-swap="outerHTML"
                            hx-get="{% url 'contracts:create_template' %}"
                            hx-trigger="click"
                            id="addTemplates"
                            hx-target="#addTemplates"
                    >
                        Додати шаблон
                    </button>
                    <button
                            class="btn btn-info fw-bold d-flex justify-content-center align-items-center my-1"
                            data-bs-toggle="modal" data-bs-target="#instruction">
                        Інструкція
                    </button>
                </div>
                {% for template in templates|slice:":2" %}
                    {% include 'contract_templates/partials/list_object.html' %}
                {% endfor %}
            </div>
            <div class="d-flex flex-column flex-wrap">
                {% for template in templates|slice:"2:5" %}
                    {% include 'contract_templates/partials/list_object.html' %}
                {% endfor %}
            </div>
            <div class="d-flex flex-column flex-wrap">
                {% for template in templates|slice:"5:8" %}
                    {% include 'contract_templates/partials/list_object.html' %}
                {% endfor %}
            </div>
        </div>
        {% if is_paginated %}
            <div class="d-flex flex-row flex-wrap justify-content-center">
                <div class="btn-group" role="group" aria-label="Pagination">
                    {% if page_obj.has_previous %}
                        <a
                                href="?page={{ page_obj.previous_page_number }}"
                                class="btn btn-outline-primary">&laquo;
                        </a>
                    {% endif %}

                    {% for page in paginator.page_range %}
                        {% if page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                            {% if page == page_obj.number %}
                                <a href="?page={{ page }}"
                                   class="btn btn-outline-primary active"
                                   aria-current="page">{{ page }}</a>
                            {% else %}
                                <a href="?page={{ page }}"
                                   class="btn btn-outline-primary"
                                   aria-current="page">{{ page }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a
                                href="?page={{ page_obj.next_page_number }}"
                                class="btn btn-outline-primary">&raquo;
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="modal fade" id="instruction" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Інструкція до створення шаблону
                            документа</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6>Перш за все потрібен word-документ формату .docx</h6>
                        <h6>Далі Вам потрібно замінити всі слова, які ви хочете щоб заміщювались в документі, на вже
                            підготовленні шаблонні-слова:</h6>
                        <p>${last_name} -- Прізвище</p>
                        <p>${upper_last_name} -- Прізвище великими буквами</p>
                        <p>${first_name} -- Ім'я</p>
                        <p>${upper_first_name} -- Ім'я великими буквами</p>
                        <p>${middle_name} -- По батькові</p>
                        <p>${upper_middle_name} -- По батькові великими буквами</p>
                        <p>${upper_director_name} -- ПІБ директора великими буквами</p>
                        <p>${company_name} -- Назва компанії</p>
                        <p>${upper_company_name} -- Назва компанії великими буквами</p>
                        <p>${gender_pronoun} -- яка/який</p>
                        <p>${address} -- Адреса</p>
                        <p>${upper_address} -- Адреса великими буквами</p>
                        <p>${email} -- Email</p>
                        <p>${upper_email} -- Email великими буквами</p>
                        <p>${phone} -- Телефон</p>
                        <p>${upper_phone} -- Телефон великими буквами</p>
                        <p>${iban} -- IBAN</p>
                        <p>${mfo} -- МФО банку</p>
                        <p>${start_day} -- День початку дії договору</p>
                        <p>${start_month} -- Місяць початку дії договору (українською)</p>
                        <p>${start_year} -- Рік початку дії договору</p>
                        <p>${formatted_start_date} -- Дата початку дії договору у форматі "День Місяць Рік"</p>
                        <p>${expire_day} -- День закінчення дії договору</p>
                        <p>${expire_month} -- Місяць закінчення дії договору (українською)</p>
                        <p>${expire_year} -- Рік закінчення дії договору</p>
                        <p>${formatted_expire_date} -- Дата закінчення дії договору у форматі "День Місяць Рік"</p>
                        <p>${document_number} -- Номер документа</p>
                        <p>${vehicles} -- Інформація про транспортні засоби (список)</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-success">Зрозумів</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}