{% extends 'templates/base.html' %}
{% load static %}

{% block title %}
    <title>Створення СГ</title>
{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center">

        <form
                id='form'
                class="d-flex flex-column align-items-center"
                hx-encoding='multipart/form-data'
                hx-post="{% url 'documents:pdf-extract' %}"
                hx-swap="outerHTML"
                hx-target="#createForm"
                hx-trigger="change"
        >
            <label
                    for="{{ file_upload_form.pdf_file.id_for_label }}"
                    class="col-form-label fw-bold me-2"
            >{{ file_upload_form.pdf_file.label }}</label>
            {{ file_upload_form.pdf_file }}
            <div class="progress mt-2" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 style="width: 100%">
                <div id="progress-bar" class="progress-bar text-dark" style="width: 0%">0%</div>
            </div>
        </form>
    </div>
    {% include 'business_entities/partials/forms/_fop_create.html' %}
{% endblock %}
{% block static %}
    <script>
        htmx.on('#form', 'htmx:xhr:progress', function (evt) {
            const progress = (evt.detail.loaded / evt.detail.total) * 100;
            const progressBar = htmx.find('#progress-bar');

            progressBar.style.width = `${progress}%`;
            progressBar.setAttribute('aria-valuenow', progress);
            progressBar.textContent = `${Math.round(progress)}%`;
        });
    </script>
    <script type="text/javascript" src="{% static 'js/validation/business_entity.js' %}"></script>
{% endblock %}