{% extends 'templates/base.html' %}
{% load business_entity_filters %}

{% block title %}
    <title>Суб'єкти господарювання</title>
{% endblock %}

{% block body %}
    <div class="d-flex flex-column">
        <form
                id="businessEntityListFilterForm"
                method="GET"
                hx-get="{% url 'business_entities:business_entities' %}"
                hx-target="#businessEntityListContainer"
                hx-swap="outerHTML"
                hx-include="#businessEntityListFilterForm"
        >
            <div class="d-flex flex-row flex-wrap justify-content-center">
                <div class="col-auto m-3">
                    <a type="button" class="btn btn-success fw-bold" href="{% url 'business_entities:create_fop_form' %}">
                        Додати Суб'єкт господарювання
                    </a>
                </div>
                <div class="col-auto my-3">
                    <input type="search" class="form-control" name="searchBusinessEntity" placeholder="Пошук по базі">
                </div>
                <div class="col-auto my-3 ms-2">
                    <button type="submit" class="btn btn-primary mb-3">Пошук</button>
                </div>
                <div class="col-auto m-3">
                    <select class="form-select" name="selectBusinessEntity"
                            hx-get="{% url 'business_entities:business_entities' %}"
                            hx-target="#businessEntityListContainer"
                            hx-swap="outerHTML"
                            hx-trigger="change"
                            hx-include="#businessEntityListFilterForm"
                    >
                        <option selected value="">Всі СГ</option>
                        <option value="{{ business_entities_choices.FOP }}">{{ business_entities_choices.FOP.label }}</option>
                        <option value="{{ business_entities_choices.TOV }}">{{ business_entities_choices.TOV.label }}</option>
                    </select>
                </div>
                <div class="col-auto my-3">
                    <select class="form-select" name="selectDate"
                            hx-get="{% url 'business_entities:business_entities' %}"
                            hx-target="#businessEntityListContainer"
                            hx-swap="outerHTML"
                            hx-trigger="change"
                            hx-include="#businessEntityListFilterForm"
                    >
                        <option selected value="created_at">Від нових до старих</option>
                        <option value="-created_at">Від старих до нових</option>
                    </select>
                </div>
            </div>
        </form>
        {% include 'business_entities/partials/list_fields.html' %}
    </div>
{% endblock %}