{% extends 'templates/base.html' %}

{% block title %}
    <title>Vehicles</title>
{% endblock %}

{% block body %}
    <div class="d-flex flex-column">
        <form
                id="vehicleListFilterForm"
                method="GET"
                hx-get="{% url 'vehicles:list' %}"
                hx-target="#vehicleListContainer"
                hx-swap="outerHTML"
                hx-include="#vehicleListFilterForm"
        >
            <div class="d-flex flex-row flex-wrap justify-content-center">
                <div class="col-auto mx-3 my-1">
                    <a type="button" class="btn btn-success fw-bold" href="{% url 'vehicles:create' %}">Додати
                        Транспортний засіб</a>
                </div>
                <div class="col-auto my-1">
                    <input type="search" class="form-control" name="searchVehicles" placeholder="Пошук по базі">
                </div>
                <div class="col-auto my-1 ms-2 me-3">
                    <button type="submit" class="btn btn-primary mb-3">Пошук</button>
                </div>
                <div class="col-auto my-1">
                    <select class="form-select" name="selectDate"
                            hx-get="{% url 'vehicles:list' %}"
                            hx-target="#vehicleListContainer"
                            hx-swap="outerHTML"
                            hx-trigger="change"
                            hx-include="#vehicleListFilterForm"
                    >
                        <option selected value="created_at">Від нових до старих</option>
                        <option value="-created_at">Від старих до нових</option>
                    </select>
                </div>
            </div>
        </form>
        {% include 'vehicles/partials/list_fields.html' %}
    </div>
{% endblock %}