<div id="documentDetailList">
    <div class="d-flex flex-row justify-content-center my-2" id="searchDocuments">
        <button
                class="btn btn-success flex-fill"
                type="button"
                hx-get="{% url 'contracts:create_contract_templates_search_form' business_entity.id %}"
                hx-trigger="click"
                hx-target="#searchDocuments"
                hx-swap="outerHTML"
        >Створити документ
        </button>
    </div>
    <div>
        {% for document in documents %}
            <div class="input-group mb-1">
                    <input type="text"
                           class="form-control"
                           aria-describedby="button-addon2"
                           value="{{ document.name }}"
                           readonly
                           style="cursor: pointer;"
                           hx-trigger="click"
                    >
                <a
                        href="{% url 'contracts:documents_download' document.id %}"
                        class="btn btn-success"
                        type="button"
                        id="button-addon2"
{#                        hx-target="#documentDetailList"#}
{#                        hx-trigger="click"#}
{#                        hx-swap="outerHTML"#}
                >Скачати
                </a>
            </div>
        {% endfor %}
    </div>
</div>