{% extends 'templates/base.html' %}
{% load static %}

{% block title %}
    <title>Добування тексту</title>
{% endblock %}

{% block body %}
    <div class="d-flex flex-column flex-wrap">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card d-flex flex-wrap">
                <div class="card-header">
                    <h3>OpenDataUA</h3>
                </div>
                <div class="card-body">
                <label for="formFileLg" class="form-label">Виберіть файл OpenDataUA з якого хочете добути текст</label>
                {{ form.pdf_file }}
                {% if field.errors %}
                    <div class="text-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-success mt-3">Генерувати СГ</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block static %}
{% endblock %}