{% load business_entity_filters %}

<div id="business_entity_form">
    {{ business_entity_form.non_field_errors }}
    {% for field in business_entity_form %}
        <div class="d-flex flex-row flex-wrap flex-fill mb-1" id="{{ field.id_for_label }}_div">
            <label for="{{ field.id_for_label }}" class="col-form-label fw-bold me-2">{{ field.label }}</label>
            <div class="d-flex flex-fill" style="width: 350px">
                {{ field }}
            </div>
            {% if field.errors %}
                <div class="form-text text-danger" id="basic-addon4">
                    {% for error in field.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>