{% extends 'templates/base.html' %}
{% load static %}

{% block title %}
    <title>Створення СГ</title>
{% endblock %}

{% block body %}
    <form class="d-flex flex-column align-items-center" method="POST">
        {% for field in form %}
            {% if field.name == "business_entity" %}
                <div>
                    {% for radio in field %}
                        {{ radio.tag }}
                        <label class="btn btn-outline-primary m-2"
                               for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        <div id="BusinessEntitiesForm" style="width: 400px;">
            {% include 'business_entity/forms/create.html' %}
        </div>
        <div class="d-flex justify-content-center flex-fill">
            <button id="submitButton" type="submit" class="btn btn-outline-success fw-bold">Створити ФОП</button>
        </div>
    </form>
{% endblock %}
{% block static %}
    <script src="{% static 'js/business_entities/create.js' %}"></script>
{% endblock %}