{% extends 'templates/base.html' %}

{% block title %}
    <title>СГ</title>
{% endblock %}

{% block body %}
    <div class="d-flex flex-row flex-wrap ">
        <div class="d-flex flex-fill flex-column px-4" style="min-width: 300px;">
            <h3>{{ business_entity.short_name }}</h3>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item"><span class="fw-bold">ЄДРПОУ:  </span>{{ business_entity.edrpou }}</li>
                <li class="list-group-item"><span class="fw-bold">Назва:  </span>{{ business_entity.company_name }}</li>
                <li class="list-group-item"><span class="fw-bold">Імʼя:  </span>{{ business_entity.director_name }}</li>
                <li class="list-group-item"><span class="fw-bold">Email:  </span>{{business_entity.email}}</li>
                <li class="list-group-item"><span class="fw-bold">Телефон:  </span>{{ business_entity.phone}}</li>
                <li class="list-group-item"><span class="fw-bold">IBAN:  </span>{{ business_entity.iban }}</li>
            </ul>
            <h4>Банк</h4>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item"><span class="fw-bold">Назва:  </span>ПуАТ «КБ «АКОРДБАНК»</li>
                <li class="list-group-item"><span class="fw-bold">МФО:  </span>380634</li>
            </ul>
        </div>
        <div class="d-flex flex-fill flex-column px-4" style="min-width: 300px;">
            <h4>Транспортні засоби:</h4>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">KA5512MK, Dodge Dart, 2013</li>
                <li class="list-group-item">KA5512MK, Dodge Dart, 2013</li>
                <li class="list-group-item">KA5512MK, Dodge Dart, 2013</li>
                <li class="list-group-item">KA5512MK, Dodge Dart, 2013</li>
            </ul>
            <h4>Документи:</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">РОЛАНД-ТРАНС АПТ</li>
                <li class="list-group-item">РОЛАНД-ТРАНС АПТ РОЛАНД</li>

            </ul>
        </div>

    </div>
{% endblock %}