{% extends 'templates/base.html' %}
{% block title %}
    <title>Home page</title>
{% endblock %}

{% block body %}
    <div class="d-flex flex-column">
        <div class="d-flex flex-fill justify-content-center m-4">
            <a type="button" class="btn btn-outline-success fw-bold" href="{% url 'create_business_entity' %}">Додати Суб'єкт господарювання</a>
        </div>
        <div class="d-flex flex-fill justify-content-center">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ЄДРПОУ</th>
                    <th scope="col">СГ</th>
                    <th scope="col">Назва</th>
                    <th scope="col">Телефон</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>2983745243</td>
                    <td>ТОВ</td>
                    <td>РОЛАНД</td>
                    <td>+38012478234</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>982348233</td>
                    <td>ФОП</td>
                    <td>Антон антонович</td>
                    <td>+38062478234 0234234234</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>342348239</td>
                    <td>ФОП</td>
                    <td>Микита Дмитрович</td>
                    <td>045678234</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}