{% extends 'templates/base.html' %}
{% load business_entity_filters %}

{% block title %}
    <title>Home page</title>
{% endblock %}

{% block body %}
    <div class="d-flex flex-column">
        <div class="d-flex flex-fill justify-content-center m-4">
            <div class="m-3">
                <a type="button" class="btn btn-outline-success fw-bold" href="{% url 'create_business_entity' %}">Додати
                Суб'єкт господарювання</a>
            </div>
        </div>
        <div class="d-flex flex-column flex-fill align-items-center">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ЄДРПОУ</th>
                    <th scope="col">Назва</th>
                    <th scope="col">Телефон</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for entity in business_entities %}
                    <tr>
                        <th scope="row"><a class="text-decoration-none text-reset"
                                           href="{% url 'business_entity_detail' entity_id=entity.id %}">{{ forloop.counter }}</a>
                        </th>
                        <td><a class="text-decoration-none text-reset"
                               href="{% url 'business_entity_detail' entity_id=entity.id %}">{{ entity.edrpou }}</a>
                        </td>
                        <td><a class="text-decoration-none text-reset"
                               href="{% url 'business_entity_detail' entity_id=entity.id %}">{{ entity.company_name|make_short_name:entity.edrpou }}</a>
                        </td>
                        <td><a class="text-decoration-none text-reset"
                               href="{% url 'business_entity_detail' entity_id=entity.id %}">{{ entity.phone }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
                <div class="btn-group" role="group" aria-label="Pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"
                           class="btn btn-outline-primary">&laquo;</a>
                    {% endif %}

                    {% for page in paginator.page_range %}
                        {% if page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                            {% if page == page_obj.number %}
                                <a href="?page={{ page }}"
                                   class="btn btn-outline-primary active"
                                   aria-current="page">{{ page }}</a>
                            {% else %}
                                <a href="?page={{ page }}"
                                   class="btn btn-outline-primary">{{ page }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"
                           class="btn btn-outline-primary">&raquo;</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}