{% extends 'templates/base.html' %}

{% block title %}
    <title>СГ</title>
{% endblock %}

{% block body %}
    <div class="d-flex flex-row flex-wrap ">
        <div class="d-flex flex-fill flex-column px-4" style="min-width: 300px;">
            <h4>ТОВ «РОЛАНД-ТРАНС»</h4>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item"><span class="fw-bold">ЄДРПОУ:  </span>78234983</li>
                <li class="list-group-item"><span class="fw-bold">Назва:  </span>РОЛАНД-ТРАНС</li>
                <li class="list-group-item"><span class="fw-bold">Імʼя:  </span>Іван Іванов Іванович</li>
                <li class="list-group-item"><span class="fw-bold">Email:  </span> sdvkjbksjdvb@gmail.com</li>
                <li class="list-group-item"><span class="fw-bold">Телефон:  </span>0990191957 +3809923423423</li>
                <li class="list-group-item"><span class="fw-bold">IBAN:  </span>UA903052992990004149123456789</li>
            </ul>
            <h4>Банк</h4>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item"><span class="fw-bold">Назва:  </span>ПуАТ «КБ «АКОРДБАНК»</li>
                <li class="list-group-item"><span class="fw-bold">МФО:  </span>380634</li>
            </ul>
        </div>
        <div class="d-flex flex-fill flex-column px-4" style="min-width: 300px;">
            <h4>Транспортні засоби:</h4>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">KA5512MK, Dodge Dart, 2013</li>
                <li class="list-group-item">KA5512MK, Dodge Dart, 2013</li>
                <li class="list-group-item">KA5512MK, Dodge Dart, 2013</li>
                <li class="list-group-item">KA5512MK, Dodge Dart, 2013</li>
            </ul>
            <h4>Документи:</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">РОЛАНД-ТРАНС АПТ</li>
                <li class="list-group-item">РОЛАНД-ТРАНС АПТ РОЛАНД</li>

            </ul>
        </div>

    </div>
{% endblock %}