<div class="d-flex flex-column flex-fill" id="bankForm">
    {% if bank_form %}
        {% include 'banks/partials/forms/_detail.html' %}
    {% else %}
        <div class="d-flex flex-row flex-fill my-2">
            <button
                    class="btn btn-success flex-fill"
                    type="button"
                    hx-get="{% url 'banks:search_form' business_entity.id %}"
                    hx-trigger="click"
                    hx-target="#bankForm"
                    hx-swap="outerHTML"
            >
                Додати банк
            </button>
        </div>
    {% endif %}
</div>