<div id="templateForm">
    {{ time_range_form.non_field_errors }}
    {% if template %}
        <div class="d-flex flex-fill">
            <a class="btn mb-1 fw-bold"
               href="{% url 'templates:download' template.pk %}">{{ template.name }}</a>
        </div>
    {% endif %}
    {% for field in template_form %}
        <div class="d-flex flex-row flex-wrap flex-fill mb-1" id="{{ field.id_for_label }}_div">
            <label for="{{ field.id_for_label }}" class="col-form-label fw-bold me-2">{{ field.label }}</label>
            <div class="d-flex flex-fill" style="min-width: 250px">
                {{ field }}
            </div>
            {% if field.errors %}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
