{% extends 'banks/partials/forms/_base.html' %}

{% block crud_buttons %}
    <button
            class="btn btn-warning me-3"
            type="button"
            hx-target="#bankForm"
            hx-swap="outerHTML"
            hx-get="{% url 'banks:update' business_entity.id %}"
    >
        Редагувати
    </button>
    <button
            class="btn btn-warning"
            type="button"
            hx-get="{% url 'banks:search_form' business_entity.id %}"
            hx-target="#bankForm"
            hx-swap="outerHTML"
    >
        Знайти інший банк
    </button>
{% endblock %}